\documentclass[11pt,a4paper]{article}
\usepackage[margin=25mm,headheight=16pt]{geometry}
\usepackage{array}
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{hyperref}
\usepackage{lastpage}
\usepackage{xcolor}
\usepackage{page_style}

\begin{document}
\input{cover.tex}
\tableofcontents
\clearpage
\input{sections/01_summary.tex}
\input{sections/02_inputs.tex}
\input{sections/03_results.tex}
\input{sections/90_traceability.tex}
\end{document}
