\documentclass[11pt,a4paper]{article}
\usepackage[left=20mm,right=15mm,top=20mm,bottom=25mm,headheight=16pt]{geometry}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{array}
\usepackage{booktabs}
\usepackage[table]{xcolor}
\usepackage{graphicx}
\usepackage{float}
\usepackage{longtable}
\usepackage{hyperref}
\usepackage{lastpage}
\usepackage{page_style}

\setlength{\parindent}{0pt}
\setlength{\parskip}{5pt}
\renewcommand{\arraystretch}{1.18}
\arrayrulecolor{tableline}

\begin{document}
\input{cover.tex}
\tableofcontents
\clearpage
\input{sections/01_summary.tex}
\clearpage
\input{sections/02_inputs.tex}
\clearpage
\input{sections/04_figures.tex}
\clearpage
\input{sections/03_results.tex}
\clearpage
\input{sections/90_traceability.tex}
\end{document}
